

<html >
    <head>
        <title>Weird Sentences</title>
        <link rel="stylesheet" href="style.css"/>
        <link href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Harmattan&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <script src="tracery/js/vendor/jquery-1.11.2.min.js"></script>
		<script src="tracery/tracery.js"></script>
		<script src="trajs/grammars.js"></script>
        <script src='app.js'></script>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <form class= "grid"  action="/result" method="POST">
    
            <h1 id="h1" style="  font-family: 'UnifrakturMaguntia', cursive;
            font-size: 4em;
            background-color: rgb(37, 146, 235);
            color: white;
            padding: .5em;
            box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
           justify-content: center;
            position: relative; align-items: center; display: flex; " >Weird Sentences</h1>
            <center>
    
                {% if name %}
                <h3>{{name}}</h3>
                {% endif %}
    
                
    
            </center>
    
    
    
    
    
            </center><input type="Submit"  style="  font-family: 'Harmattan', sans-serif;
            font-size: 2em;
            font-weight: bold;
            padding: .5em;
            margin: .5em;
            box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
            background-color: rgb(255, 0, 64);
            color: white;
            border: none;
            border-radius: 2px; justify-content: center;
            width: 550px;
            outline: none; margin:0px auto; display:flex;
            width: 250px; cursor: pointer;"  class="file_submit"></center>
    
    
        </form>
    </body>
    </html>






















